/* Reset some default styles */
body, h1, h2, p, ul, li {
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D8E1E9;
}

section {
    padding: 20px;
    background-color: #93a8ac8c;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #93a8ac8c;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 2px;
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: 20px;
}

.unique_feature {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #D8E1E9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;

    /* Add animation properties */
    animation-name: fadeIn; /* Name of the animation keyframes */
    animation-duration: 8s; /* Duration of the animation */
    animation-timing-function: ease; /* Timing function */
    animation-fill-mode: forwards; /* Keeps the final state (opacity: 1) after animation */
}

/* Define the keyframes for the fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image_in_row {
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.circular_img {
    position: relative; 
    width: 120px; height: 120px; 
    overflow: hidden; border-radius: 50%; 

} .circular_img img { 
    width: auto; 
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn_in_row {
    display: flex;
    justify-content: right;
    max-width: 90%;
    margin: initial;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

  /* Step 1: Common Properties
  These styles are required to make icons render reliably */
  .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }


h1 {
    font-size: 28px;
    padding: 20px;
    border-color: #84c5df80;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #759EB8;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    color: #fff;
    border: outset;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 5px;
    cursor: pointer;
}

button i {
    margin-right: 5px;
    size: 50px;
    color: black;
}

button:hover {
    background-color: #84c5df80;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #84c5df80
}
